.item {
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 10px;
    display: flex;
    margin: 0 auto;
}

.itemText {
    display: inline-block;
    margin-left: 40px;
    line-height: 20px;
}

.item+.item {
    margin-top: 15px;
}

.btn {
    background-repeat: no-repeat;
    background-size: 14px;
    border-radius: 8px;
    width: 30px;
    height: 30px;
    background-position: center;
}

.btnBox {
    margin-left: auto;
    display: flex;
}

.deleteBtn {
    background-image: url("./delete.svg");
    border: 1px solid rgb(255, 151, 151);
    margin-right: 10px;
}

.deleteBtn:hover {
    background-color: rgb(250, 170, 170);
}

.importantBtn {
    background-image: url("./important.svg");
    border: 1px solid rgb(151, 255, 175);
}

.importantBtn:hover {
    background-color: rgb(209, 252, 187);
}

.cross {
    text-decoration: line-through;
    position: relative;
}

.cross::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120%;
    height: 2px;
    background-color: #7c6cc2;
}

.important {
    font-weight: 700;
    color: #998bda;
}

.checkZone {
    flex-grow: 1;
    cursor: pointer;
    hyphens: auto;
}

.checkbox {
    display: none;
}

.checkbox+label {
    display: block;
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
}

.checkbox+label:last-child {
    margin-bottom: 0;
}

.checkbox+label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #7c6cc2;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: -1px;
    opacity: .6;
    transition: all .12s, border-color .08s;
}

.checkbox:checked+label:before {
    width: 10px;
    top: -5px;
    left: 5px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}