.app {
    background-color: #d7d8f4;
    border-radius: 15px;
    padding: 20px;
    font-family: sans-serif;
    max-width: 750px;
    margin: 0 auto;
    min-height: 500px;
    display: flex;
    flex-direction: column;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
    transition: 0.3s;
}

.noTodos {
    text-align: center;
    margin-top: 100px;
    font-weight: 500;
    font-size: 20px;
}